body {
    background: #eee;
    font-family: 'Exo', sans-serif;
    color: #111;
   
}

.wrapper {
    width: 400px;
    margin: 10px auto;
    padding:10px;
    padding-bottom: 50px;
  

}

.header {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    padding: 10px;
    border: 1px solid purple;
    box-shadow: plum;

}

.header > div {
    text-transform: uppercase;
}

.today {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.month_year {
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #888;
    font-size: 12px;
    margin-top: 3px;
}

.date {
    font-weight: 900;
    font-size: 2em;
    margin-right: 5px;
}

.year {
    line-height: 16px;
}

.todo_list {
    display: block;
    width: 100%;
    margin-top: 10px;
    background: #fff;

}

.listItem {
    display: grid;
    grid-template-columns: 9fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.todo_list p {
    font-weight: 600;
    
}

.todo_list p small {
    font-weight: lighter;
    
}

.listItem span {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    align-self: center;
}